  <header class="d-flex justify-content-center mt-2">

<h2>Add Lesson Plan</h2>
</header>
  <main class="container my-5">
<div class="row">
        <aside class="col-4 px-0 m-0 border-right border-dark justify-content-center">
            <form action="/lessons/add" method="POST">
        <div class="input-group">
          <label for="title">Objective</label>
          <input type="text" name="objective" id="Objective" class="input-box"
            maxlength="100" value={{title}}>
        </div>
        <div class="input-group">
          <label for="description">Lesson Plan</label>
          <textarea name="lesson_plan" id="description" class="input-box" placeholder="Describe the lesson plans"
            rows="10">{{description}}</textarea>
        </div>
        <input type="submit" value="Add Lesson" class="btn btn-reverse">
      </form>
    </div>
        </aside>



    </main>