<section id="search" class="search-wrap">
    <div class="d-flex  justify-content-center"id="header">
    <h1>Find Lesson Plan</h1>
    </div>
    <div class="d-flex  justify-content-center" id="search">
    <form action="/lessons/search" class="search-form">

      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Legato, Facility, Vibrato...">
      <input type="submit" value="Search">
      </div>
    </form>



</section>

<section class="container">
     {{#each objectives}}
    <div class="card mt-3">
  <h5 class="card-header">
   Objective: {{dataValues.objective}}
  </h5>
  <div class="card-body">

    <pre class="card-text">{{dataValues.lesson_plan}}</pre>
    <small>Exercises used: <span>{{dataValues.Exercises}}  </span></small>
  </div>
</div>
    {{/each}}

</section>