body {
    /* The image used */
    background-image: url("https://images.pexels.com/photos/210854/pexels-photo-210854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
/* background-color: midnightblue; */
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


/* color: maroon; */

}




form.signup,
form.login {
    margin-top: 50px;
}

#nav-link {
    color: black;
    text-decoration: none;
}

.bn {
    width: 30%;
    /* height: 90%; */
}

.rowbn {
    padding-top: 30px;
    /* height: 30vh; */
}

h1,
h3 {
    text-align: center;
}

.membera {
    color: white;
    font-size: 25px;
}
.membera:hover {
    color: black;
}

.col-md-6 {
    background-image: linear-gradient(to right, brown, yellow);
}
@media only screen and (max-width: 768px) {
    .bn {
        width: 50%;
    }

    .bn-sm {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 400px) {
    .bn {
        width: 75%;
    }

    .bn-sm {
        margin-bottom: 30px;
    }
}
